.container {
  min-height: 35vh;
  width: 90%;
}

.timePicker {
  width: 100%;
  display: flex;
  flex-direction: row;
  margin: 5px 0 15px 0;
}
.timePicker button {
  background-color: #020a22;
  text-decoration: none;
  border: none;
  flex: 1;
  font-size: 14px;
  color: #9A99B5;
}

.\36 m {
  border-bottom: #fff 2px solid !important;
  font-weight: bold;
  color: #fff !important;
}