.container {
    width: 95%;
    margin: 10px 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.logo {
    max-height: 3em;
    border-radius: 50%;
}

.symbol {
    font-size: 32px;
    font-weight: bold;
}

.companyName {
    font-size: 14px;
    font-weight: 300;
    color: #9A99B5;
}